<div class="quiz">
    <div class="container">
        <div class="questions-wrapper" *ngIf="questions">
            <h1 class="question">
                {{ questions[currentQuestion].question }}
            </h1>
    
            <div class="answers-wrapper">
                <button type="button" class="btn answer" *ngFor="let answer of shuffleAnswers(questions[currentQuestion].answers)" (click)="validateAnswer(answer.isCorrect)">
                    {{ answer.answer }}
                </button>
            </div>
        </div>
    </div>
</div>