@import '/src/assets/styles/utils';

.navbar {
    background-color: $onbg;

    .menu-wrapper {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;

        .title {
            font-size: 2rem;
            color: $bg;
            text-decoration: none;
            font-weight: bold;
        }

        .menu {
            display: flex;
            gap: 10px;
            list-style: none;
            
            .item {
                a {
                    color: $bg;
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}
