<div class="quiz-card">
    <h1 class="title">Título do quiz</h1>
    <p class="description">Só um fã de "Friends" vai acertar 10 questões sobre o primeiro episódio da série. Você consegue lembrar do episódio que foi ao ar dia 22 de setembro de 1994 e você já viu mil vezes? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolorum, omnis possimus dolore sequi doloremque. Ex voluptatum quod facere reprehenderit, illo sapiente veritatis aperiam officia esse incidunt, voluptate ratione iste.</p>
    <button class="start-quiz btn">Jogar</button>
</div>
