@charset "UTF-8";

.create-quiz-error {
    display: flex;
    align-items: center;
    .title {
        font-size: 4rem;
        width: 800px;
        text-align: center;

        span {
            display: block;
        }
    }

    .ilustration-error {
        width: 600px;
    }
}

@media screen and (max-width: 950px) {
    .create-quiz-error {
        flex-direction: column;
        margin: 50px 0;
    }
}

@media screen and (max-width: 800px) {
    .create-quiz-error {
        .title {
            font-size: 3rem;
            width: auto;
        }

        .ilustration-error {
            width: 300px;
        }
    }
}
