<div class="quizzes">
    <div class="container">
        <div class="header">
            <h1 class="title">
                Quizes
            </h1>
        </div>

        <div class="quizzes-wrapper" *ngIf="(quizzes$ | async) as quizzes">
            <app-quiz-card *ngFor="let quiz of quizzes"
            [id]="quiz.id"
            [name]="quiz.name"
            [description]="quiz.description"></app-quiz-card>
        </div>

        <div class="no-quiz" *ngIf="!(quizzes$ | async)?.length">
            <p>Nenhum quiz foi encontrado, crie o primeiro!</p>
            <button routerLink="/create-quiz" class="btn">Criar quiz</button>
        </div>
    </div>
</div>
