@import '/src/assets/styles/variables';

.container {
    width: 100%;
    max-width: 95vw;
}

.btn {
    background-color: $hl;
    color: $bg;
    text-shadow: 1px 1px 3px $althl;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
}
