@import '/src/assets/styles/variables';

.container {
    width: 100%;
    max-width: 95vw;
}

.btn {
    background-color: $hl;
    color: $bg;
    text-shadow: 1px 1px 3px $althl;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    transition: background-color .4s linear;
    cursor: pointer;

    &:hover {
        background-color: darken($hl, 5);
    }

    &:disabled {
        background-color: grey;
        text-shadow: 1px 1px 3px rgb(70, 69, 69);
        cursor: not-allowed;
    }
}

.btn-sec {
    background-color: $onbg;
    color: $bg;
    
    &:hover {
        background-color: darken($onbg, 5);
    }
}

.input-text {
    background-color: transparent;
    color: $onbg;
    border-bottom: 2px solid $hl;
    font-size: $text;
    padding-bottom: 5px;
    margin-bottom: 20px;

    &::placeholder {
        color: $onbg;
    }
}
