@charset "UTF-8";

// fonts

$font-family: 'Poppins', sans-serif;
$title: 3.6rem;
$subtitle: 2rem;
$text: 1.4rem;

// colors

$bg  : #E7E2E2; // background
$onbg: #2F3333; // on background
$hl  : #D226C6; // highlight
$althl: #8a1d7f; // alternative highlight
