<div class="home">
    <div class="container">
        <div class="content">
            <div class="texts">
                <h1 class="title">
                    Seus amigos são inteligentes o suficiente?
                    <span>Desafie-os agora!</span>
                </h1>

                <button class="create-quiz btn">
                    Criar quiz
                </button>

                <a class="all-quizzes">
                    Ver todos os quizes
                </a>
            </div>
            <div class="images">
                <img src="../../assets/images/illustration-home.svg" alt="Ilustração home">
            </div>
        </div>
    </div>
</div>
