@import '/src/assets/styles/utils';

.home {
    .container {
        margin: 100px auto 0;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            // height: calc(100vh - 74px);

            .texts {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .title {
                    font-size: 3rem;
                    width: 100%;
                    max-width: 430px;
                    text-align: center;

                    span {
                        display: block;
                    }
                }

                .all-quizzes {
                    font-size: 2rem;
                    text-align: center;
                    color: $onbg;
                }
            }

            .create-quiz {
                font-size: 3rem;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .home {
        .container {
            .content {
                .images {
                    img {
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .home {
        .container {
            margin: 50px auto;
            .content {
                flex-direction: column;
            }
        }
    }
}
